/* Header */
.header{
	background: #fff;
	padding: 0.7rem 0px;
	text-align: center;
}

/* Navbar */
.navbar{
	padding: 0 1rem;
}
.nav-item{
	text-transform: uppercase;
	text-align: center;
	width: 10rem;
}
.nav-item:hover{
	background: #FFF200;
}
.nav-item:hover .nav-link{
	color: #292b2c !important;
}
.nav-link{
	line-height: 110%;
	color: white !important;
}
.dropdown-toggle:after{
	display: none;
}

/* Content */
.content{
	padding-top: 1rem;
}
.slider{
	background: url(../_img/slider/slide1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 32rem;
}
.divider{
	background: #FFF200;
	text-align: center;
	padding: 1rem 0;
	margin: 1rem 0;
}